// Component
// header

/*----------------[ variables ]----------------*/

// header
$c-header__height: $s-header-height;
$c-header__background-color: #282828;
$c-header__color: #ffffff;

// sub-header
$c-sub-header__height: 110px;
$c-sub-header__background-color: #222222;
$c-sub-header__item-padding: $s-gutter;

/*----------------[ style ]----------------*/

.c-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  // Responsive
  @each $key, $value in $o-layout__breakpoints {
    @media (min-width: map-get($s-breakpoints,$key)) {
      max-width: map-get($o-layout__breakpoints,$key);
    }
  }
}

.c-header__container {
  @include scalePadding(1);
  height: $c-header__height;
  background-color: $c-header__background-color;
  color: $c-header__color;

  @media (min-width: $s-breakpoint--sm) {
    @include scalePadding(1.5);
  }

}

.c-logo {
  font-family: $s-font-body;
  font-weight: 300;
  @include font-size(15px, 17px);
  text-transform: uppercase;
  letter-spacing: 4px;
  &:after {
    content: " /";
  }
}


// sub-header

.c-sub-header {

}

.c-sub-header__nav {
  @include scalePadding(1);
  height: $c-sub-header__height;
  background-color: $c-sub-header__background-color;

  @media (min-width: $s-breakpoint--sm) {
    @include scalePadding(1.5);
  }

}

.c-sub-header__column {

}


.c-sub-header__item {
  padding-bottom: $c-sub-header__item-padding;
  position: relative;

  &:hover {
    .c-sub-header__number {
      color: $s-color-primary;
    }
    .c-sub-header__link-text {
      color: $s-color-light;
    }
    &:after {
      background-color: $s-color-light;
    }
  }

  &:after {
    @include transition(background-color, 200ms);
    content:"";
    height: 2px;
    width: 40px;
    background-color: $s-color-grey-90;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.c-sub-header__number {
  @include transition(color, 200ms);
  font-family: $s-font-heading;
  display: block;
  @include font-size($s-font-size-xs,$s-font-size-xs);
  color: $s-color-grey-90;
  padding-bottom: 5px;
}

.c-sub-header__link-text {
  font-family: $s-font-body;
  font-weight: 300;
  display: block;
  @include font-size(13px,16px);
  height: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $s-color-grey-60;
  transition: color 250ms ease;
  &:after {
    content: " /";
  }
}
