// Component
// main-content

/*----------------[ variables ]----------------*/


/*----------------[ style ]----------------*/

.c-main-content {
  position: relative;
  padding-top: $s-gutter;
  padding-bottom: $s-gutter;
  @include transition();
  opacity: 0;

  &.active {
    opacity: 1;
  }
}


// Section
.c-section {

  &:after {
    display: block;
    width: 100%;
    content: '';
    padding-top: $s-gutter;
    padding-bottom: $s-gutter;
    border-bottom: 1px solid $s-color-grey-90;
  }

  &--no-border,
  &:last-child {
    &:after {
      display: none;
      border-bottom-color: transparent;
    }
  }
}

// Article
.c-article {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.c-article__header {
  background-color: #282828;
  align-items: center;
  justify-content: space-between;
  padding: $s-gutter;
  flex: 0 1 auto;
}

  .c-article__number {
    color: $s-color-grey-80;
    display: block;
    padding-bottom: $s-gutter / 4;
  }

  .c-article__vector {
    svg {
      height: 50px;
      width: auto;
    }
  }

.c-article__content {
  background-color: #202020;
  padding: $s-gutter;

  &:last-child {
    padding-bottom: $s-gutter;
  }
}
