// Component
// Graphic

/* ---------------- [ variables ] ---------------- */

$c-bar-graph__item-background-color: #282828;
$c-bar-graph__inner-bar-background-color: #303030;
$c-bar-graph__inner-bar-background: linear-gradient(to right,  rgba(0,0,0,0) 60%,rgba(48,48,48,1) 100%);
$c-bar-graph__inner-bar-border-color: $s-color-primary;

// loop
$c-loop__size: 300px;
$c-loop__items: 6;
$c-loop__circle-min-size: 10%;
$c-loop__circle-max-size: 75%;


/* ---------------- [ style ] ---------------- */

// c-graphic-1

.c-graphic-1 {
  transform: rotate(-90deg);
}

// c-bar-graph

.c-bar-graph {
  position: relative;
}

  .c-bar-graph__list {
    width: 100%;
    position: relative;
  }

    .c-bar-graph__item {
      position: relative;
      width: 100%;
      background-color: $c-bar-graph__item-background-color;
      text-align: right;
      padding: 5px 10px;
      &:not(:last-child){
        margin-bottom: 8px;
      }

      // stepped transition delay
      $i: 0;
      $increase: 100; // milliseconds
      @while $i < 10 {
        &:nth-child(#{$i}) .c-bar-graph__inner-bar {
          transition-delay: 100ms * $i;
          $i : ($i + 1);
        }
      }

    }

      .c-bar-graph__inner-bar {
        position: absolute;
        top: 0;
        left: 0;
        background: $c-bar-graph__inner-bar-background-color;
        border-right: 2px solid $c-bar-graph__inner-bar-border-color;
        padding: 5px 10px;
        text-align: left;
        transition: opacity 500ms ease, width 500ms ease;
        transform-origin: left center;

        // Width
        $i: 0;
        @while $i <= 100 {
          &--#{$i} {
            opacity: 0;
            width: 0% + $i - 5;
            &.active {
              opacity: 1;
              width: 0% + $i;
            }
          }
          $i : $i + 5;
        }

      }

      .c-bar-graph__bar-title {
        letter-spacing: 1px;
        color: $s-color-light;
      }

    .c-bar-graph__bar-value {
      letter-spacing: 1px;
        color: $s-color-light;
    }

// c-loop

.c-loop {
  display: block;
  height: $c-loop__size;
  width: $c-loop__size;
  position: relative;
}

.c-loop__container {
  top: 0;
  left: 0;
  position: absolute;
  width: $c-loop__size;
  height: $c-loop__size;

  // lower
  &--lower {
    display: none;
    .c-loop__circle {
      z-index: 1;
      border: dashed round($c-loop__size/200) $s-color-grey-90;
    }
  }

  // upper
  &--upper {
    .c-loop__circle {
      z-index: 2;
    }
  }

  // values
  &--values {
    z-index: 10;

    .c-loop__value {
      opacity: 0;
      transition: opacity 100ms ease;
      transition-delay: 1s;
    }

    &.active {
      .c-loop__value {
        opacity: 1;
      }
    }
  }
}

.c-loop__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  overflow: hidden;

  // sizes
  @for $i from 1 through $c-loop__items {
    &--#{$i} {

      $size: $c-loop__circle-min-size + ($i * ($c-loop__circle-max-size - $c-loop__circle-min-size) / $c-loop__items);

      // dimensions
      width: $size;
      height: $size;
    }
    $i : $i + 1;
  }

  // percentage
  $i:0;
  @while $i <= 100 {
    @if $i <= 50 {
      &--percent-#{$i}.active {
        .c-loop__mask--2 .c-loop__overlay {
          transition: transform .1s ease-out;
          transform: rotate( $i * 360 / 100deg );
        }
      }
    }
    @else {
      &--percent-#{$i}.active {
        .c-loop__mask--2 .c-loop__overlay {
          transition: transform .5s ease-in;
          transform: rotate( 180deg );
        }
        .c-loop__mask--1 .c-loop__overlay {
          transition: transform .5s ease-out;
          transition-delay: .5s;
          transform: rotate( ($i - 50) * 360deg / 100 );
        }
      }
    }

    $i : $i + 5;
  }
}

// mask: container of each half of the animated circle
.c-loop__mask {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 1;

  // left mask - right mask
  &--1 {
    left: 0;

    // inner circle
    .c-loop__line {
      left: 5%;
    }

    // overlay
    .c-loop__overlay {
      transform-origin: center right;
    }
  }

  &--2 {
    right: 0;

    // inner circle
    .c-loop__line {
      right: 5%;
    }

    // overlay
    .c-loop__overlay {
      transform-origin: center left;
    }
  }
}
.c-loop__overlay {
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
}
.c-loop__line {
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  top: 2.5%;
  width: 190%;
  height: 95%;
  border: solid 2px $s-color-primary;
}


// value
.c-loop__value {
  z-index: 3;
  display: block;
  position: absolute;
  height: 50%;
  top: 0;
  left: 50%;
  transform-origin: center bottom;
  color: $s-color-grey-70;
  text-align: center;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 50%;
    height: 60%;
    transform: translateX(-50%);
    border-left: solid 1px rgba($s-color-grey-70,.5);
  }

  &--1 {
    transform: translateX(-50%);

  }

  &--2 {
    transform: translateX(-50%) rotate(216deg);

    .c-loop__value-container {
      transform: rotate(-216deg);
    }
  }

  &--3 {
    transform: translateX(-50%) rotate(252deg);

    .c-loop__value-container {
      transform: rotate(-252deg);
    }
  }

  &--4 {
    transform: translateX(-50%) rotate(270deg);

    .c-loop__value-container {
      transform: rotate(-270deg);
    }
  }
}

.c-loop__value-container {
  display: inline-block;
}
