// Component
// Graphic

/* ---------------- [ variables ] ---------------- */

$c-bar-graph__item-background-color: #282828;
$c-bar-graph__inner-bar-background-color: #303030;
$c-bar-graph__inner-bar-background: linear-gradient(to right,  rgba(0,0,0,0) 60%,rgba(48,48,48,1) 100%);
$c-bar-graph__inner-bar-border-color: $s-color-primary;


/* ---------------- [ style ] ---------------- */

// c-graphic-1

.c-graphic-1 {
  transform: rotate(-90deg);
}

// c-bar-graph

.c-bar-graph {
  position: relative;
}

  .c-bar-graph__list {
    width: 100%;
    position: relative;
  }

    .c-bar-graph__item {
      position: relative;
      width: 100%;
      background-color: $c-bar-graph__item-background-color;
      text-align: right;
      padding: 5px 10px;
      &:not(:last-child){
        margin-bottom: 8px;
      }
    }

      .c-bar-graph__inner-bar {
        position: absolute;
        top: 0;
        left: 0;
        background: $c-bar-graph__inner-bar-background-color;
        border-right: 2px solid $c-bar-graph__inner-bar-border-color;
        padding: 5px 10px;
        text-align: left;
        @include transition(all, 500ms);
        transform-origin: left center;

        // Width
        $i: 0;
        @while $i <= 100 {
          &--#{$i} {
            opacity: 0;
            width: 0% + $i - 5;
            &.active {
              opacity: 1;
              width: 0% + $i;
            }
          }
          $i : $i + 5;
        }

        // stepped transition delay
        $i: 0;
        @while $i < 10 {
          &:nth-child(#{$i}){
            transition-delay: #{($i * 100)ms};
          }
        }

      }

      .c-bar-graph__bar-title {
        letter-spacing: 1px;
        color: $s-color-light;
      }

    .c-bar-graph__bar-value {
      letter-spacing: 1px;
        color: $s-color-light;
    }
