- var theme = 'default'

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body(class="c-body " + theme)
  
          
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
