//- variables

- var theme = 'light'

//- mixins

mixin circle(order,percent)
  //- circle 1
  div(class="c-loop__circle c-loop__circle--"+order class="c-loop__circle--percent-"+percent data-activate="ready")
    //- left
    div(class="c-loop__mask c-loop__mask--1")
      div(class="c-loop__line")
      div(class="c-loop__overlay")
    //- right
    div(class="c-loop__mask c-loop__mask--2")    
      div(class="c-loop__line")
      div(class="c-loop__overlay")

//- html

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Alejandro Sotoca Pinilla | Portfolio
    link(rel="stylesheet" href="assets/css/main.css")
  body(class="c-body "+theme)
    
    //- header
    include _partials/header.pug
    
    //- sub-header
    include _partials/sub-header.pug
    
    //-  main-content
    include _partials/main-content.pug
    
    //- footer
        
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
