footer(class="o-container c-footer")
  //- Primer elemento con display flex - mantiene la altura del conjunto.
  div(class="o-row o-row--align-items-stretch c-footer__container")
    div(class="o-col o-col--flex o-col--align-items-center o-col--justify-content-space-between")
      
      span(clas="c-footer__credit") Alejandro Sotoca Pinilla - 2017
      
      nav(class="c-footer-nav")
        ul(class="c-footer-nav__list")
          
          a(class="c-footer-nav__link" href="#")
            li(class="c-footer-nav__item") contacto
                    
          a(class="c-footer-nav__link" href="#")
            li(class="c-footer-nav__item") contacto
          
          a(class="c-footer-nav__link" href="#")
            li(class="c-footer-nav__item") contacto
          
          a(class="c-footer-nav__link" href="#")
            li(class="c-footer-nav__item") contacto
          
          a(class="c-footer-nav__link" href="#")
            li(class="c-footer-nav__item") contacto
