header(class="o-container c-header")
  //- Primer elemento con display flex - mantiene la altura del conjunto.
  div(class="o-row o-row--align-items-stretch c-header__container")
    div(class="o-col o-col--align-items-center")
      h1(class="c-logo") Alejandro <br>Sotoca <br> Pinilla
    div(class="o-col") dos
    div(class="o-col") tres
