div(class="o-container c-main-content")
  
  section(class="o-section c-section o-row")
    div(class="o-col o-col-12")
      div(class="o-row o-row--full-width")
      
        div(class="o-col o-col-8")
          h1(class="c-heading c-heading--2") Experiencia y formación
          p.
            Inicié mi formación en el desarrollo front - end en Madrid 2012 en <a href="http://www.aulacreactiva.com/" title="Aula creactiva" target="_blank">Aula Creactiva</a>, estudiando diseño web tras mis estudios de diseño gráfico. Desde entonces no he dejado de trabajar en múltiples proyectos, primero como diseñador web freelance y más tarde también en diversos estudios de diseño como <a href="http://tasman.es/" title="Tasman Graphics" target="_blank">Tasman Graphic</a> y <a href="https://droolstudio.com/" title="Drool Studio" target="_blank">Drool Studio</a>.
        //- /.o-col
        
      //- /.o-row
      
      div(class="o-row o-row--align-items-stretch")
        
        div(class="o-col o-col-12")
          h2(class="c-heading c-heading--1") Lenguajes para desarrollo front-end
  
        div(class="o-col o-col-6 o-col--flex o-col--align-items-center")
          
          //- c-bar-graph
          div(class="c-bar-graph")
            ul(class="c-bar-graph__list")
                
              +percentBar('html5',70)
              +percentBar('css',75)
              +percentBar('JavaScript',60)
              +percentBar('jQuery*',70)
              +percentBar('php',75)
              +percentBar('mySQL',60)
                
          //- /.c-bar-graph
        //- /.o-col
        
        div(class="o-col o-col-6 o-col--flex o-col--justify-content-end")
          div(class="c-loop")

            //- lower
            div(class="c-loop__container--lower")
              div(class="c-loop__circle c-loop__circle--1")
              div(class="c-loop__circle c-loop__circle--2")
              div(class="c-loop__circle c-loop__circle--3")
              div(class="c-loop__circle c-loop__circle--4")  
              div(class="c-loop__circle c-loop__circle--5")
              div(class="c-loop__circle c-loop__circle--6")
            
            //- upper
            div(class="c-loop__container--upper")        
              
              +circle(6,70)
              +circle(5,75)
              +circle(4,60)
              +circle(3,70)
              +circle(2,75)
              +circle(1,60)
            
            //- values
            div(class="c-loop__container--values" data-activate="ready")  
            
              +circle-value(0)        
              +circle-value(60) 
              +circle-value(70)    
              +circle-value(75)    

              //-
                - var i = 0;
                while i < 100
                  +circle-value(i)
                  - var i = i+10;
                                
        //- /.o-col
        
        div(class="o-col o-col-12")
          p
            em.
              * Aunque jQuery es una librería JavaScript, se incluye en este diagrama por su relevancia para la programación de la funcionalidad de la web.
        
      //- /.o-row
    //- /.o-col
  //- .o-section .o-row
  
  section(class="o-section c-section o-row")
    
    div(class="o-col o-col-12")
      
      div(class="o-row o-row")
        
        div(class="o-col o-col-12")
          
          h2(class="c-heading c-heading--1") Experiencia con frameworks y metodologías
          p.
            Cuento con experiencia en el uso de las siguientes librerías o frameworks y en la aplicación de las siguientes metodologías:
            
      div(class="o-row o-row--align-items-stretch")
        
        article(class="o-col o-col-4 c-article")
          
          header(class="c-article__header o-row o-row--no-margin o-row--align-items-center")
            div(class="o-col c-article__title")
              span(class="c-article__number") 01
              h3(class="c-heading c-heading--2 u-no-margin--bottom") CSS
            
            div(class="o-col c-article__header-vector")
              <svg class="c-article__header-vector" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><g><path fill="#1DBA7D" d="M38.34 44.41l-13.34 3.59-13.34-3.59-3.08-33.35h32.84l-3.08 33.35z"/><path fill="#21D690" d="M25 13.76v31.38l.03.01 10.8-2.91 2.49-28.48h-13.32z"/><path fill="#fff" d="M17.43 6.16v-1.99h2.9v-2.17h-5.07v6.14h5.07v-1.98h-2.9zm8.11-1.99h2.02v-2.17h-5.07v2.17c.68.68 1.03 1 2.01 1.98h-2.01v1.98h5.07v-1.97l-2.02-1.99zm7.18 0h2.02v-2.17h-5.07v2.17c.68.68 1.03 1 2.01 1.98h-2.01v1.98h5.07v-1.97l-2.02-1.99zM24.99 22.1l-9.55 3.98.32 3.94 9.23-3.95 9.82-4.2.41-4.03-10.23 4.26z"/><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-1549.858" y1="-1323.979" x2="-1549.858" y2="-1325.684" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset=".387" stop-color="#D1D3D4" stop-opacity="0"/><stop offset="1" stop-color="#D1D3D4"/></linearGradient><path fill="url(#a)" d="M15.44 26.07l.32 3.94 9.23-3.95v-3.96l-9.55 3.97z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="-1547.728" y1="-1324.83" x2="-1547.728" y2="-1326.602" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset=".387" stop-color="#D1D3D4" stop-opacity="0"/><stop offset="1" stop-color="#D1D3D4"/></linearGradient><path fill="url(#b)" d="M35.22 17.84l-10.23 4.26v3.97l9.82-4.2.41-4.03z"/><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="-1550.884" y1="-1323.219" x2="-1546.789" y2="-1323.219" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset="0" stop-color="#E8E7E5"/><stop offset="1" stop-color="#fff"/></linearGradient><path fill="url(#c)" d="M15.45 26.07l.32 3.94 14.17.04-.32 5.25-4.66 1.31-4.48-1.13-.27-3.26h-4.16l.54 6.29 8.41 2.5 8.37-2.44 1.09-12.49h-19.01z"/><path opacity=".05" enable-background="new" d="M24.99 26.07h-9.55l.32 3.94 9.23.03v-3.97zm0 10.54l-.05.01-4.48-1.13-.27-3.26h-4.16l.54 6.29 8.42 2.49v-4.4z"/><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="-1551.072" y1="-1326.168" x2="-1546.627" y2="-1326.168" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset="0" stop-color="#E8E7E5"/><stop offset="1" stop-color="#fff"/></linearGradient><path fill="url(#d)" d="M14.58 17.84h20.64l-.41 4.03h-19.73l-.5-4.03z"/><path opacity=".05" enable-background="new" d="M24.99 17.84h-10.41l.5 4.03h9.91v-4.03z"/></g></svg>
          
          //- c-article-header
          
          div(class="o-row o-row--no-margin c-article__content")
            
            div(class="o-col o-col-12")
              
              h4(class="c-heading c-heading--3") Frameworks
              ul(class="o-list o-list--indent")
                li(class="o-list__item") Bootstrap
            
              
              h4(class="c-heading c-heading--3") Metodologías
              ul(class="o-list o-list--indent")
                li(class="o-list__item") Nomenclatura BEM: Block - Element - Modifier
                li(class="o-list__item") IT: Arquitectura de triángulo invertido.
                  
              h4(class="c-heading c-heading--3") Pre-procesadores
              ul(class="o-list o-list--indent")
                li(class="o-list__item") Less
                li(class="o-list__item") Sass / Scss
                  
                  
            //- /.o-col
        
        //- article
        article(class="o-col o-col-4 c-article")
          
          //- header
          header(class="o-row c-article__header")
            
            //- title
            div(class="o-col c-article__title")
              span(class="c-article__number") 01
              h3(class="c-heading c-heading--2") CSS
              
            //- vector
            div(class="o-col c-article__vector")
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><g><path fill="#1DBA7D" d="M38.34 44.41l-13.34 3.59-13.34-3.59-3.08-33.35h32.84l-3.08 33.35z"/><path fill="#21D690" d="M25 13.76v31.38l.03.01 10.8-2.91 2.49-28.48h-13.32z"/><path fill="#fff" d="M17.43 6.16v-1.99h2.9v-2.17h-5.07v6.14h5.07v-1.98h-2.9zm8.11-1.99h2.02v-2.17h-5.07v2.17c.68.68 1.03 1 2.01 1.98h-2.01v1.98h5.07v-1.97l-2.02-1.99zm7.18 0h2.02v-2.17h-5.07v2.17c.68.68 1.03 1 2.01 1.98h-2.01v1.98h5.07v-1.97l-2.02-1.99zM24.99 22.1l-9.55 3.98.32 3.94 9.23-3.95 9.82-4.2.41-4.03-10.23 4.26z"/><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-1549.858" y1="-1323.979" x2="-1549.858" y2="-1325.684" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset=".387" stop-color="#D1D3D4" stop-opacity="0"/><stop offset="1" stop-color="#D1D3D4"/></linearGradient><path fill="url(#a)" d="M15.44 26.07l.32 3.94 9.23-3.95v-3.96l-9.55 3.97z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="-1547.728" y1="-1324.83" x2="-1547.728" y2="-1326.602" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset=".387" stop-color="#D1D3D4" stop-opacity="0"/><stop offset="1" stop-color="#D1D3D4"/></linearGradient><path fill="url(#b)" d="M35.22 17.84l-10.23 4.26v3.97l9.82-4.2.41-4.03z"/><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="-1550.884" y1="-1323.219" x2="-1546.789" y2="-1323.219" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset="0" stop-color="#E8E7E5"/><stop offset="1" stop-color="#fff"/></linearGradient><path fill="url(#c)" d="M15.45 26.07l.32 3.94 14.17.04-.32 5.25-4.66 1.31-4.48-1.13-.27-3.26h-4.16l.54 6.29 8.41 2.5 8.37-2.44 1.09-12.49h-19.01z"/><path opacity=".05" enable-background="new" d="M24.99 26.07h-9.55l.32 3.94 9.23.03v-3.97zm0 10.54l-.05.01-4.48-1.13-.27-3.26h-4.16l.54 6.29 8.42 2.49v-4.4z"/><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="-1551.072" y1="-1326.168" x2="-1546.627" y2="-1326.168" gradientTransform="matrix(4.642 0 0 4.642 7214.348 6175.658)"><stop offset="0" stop-color="#E8E7E5"/><stop offset="1" stop-color="#fff"/></linearGradient><path fill="url(#d)" d="M14.58 17.84h20.64l-.41 4.03h-19.73l-.5-4.03z"/><path opacity=".05" enable-background="new" d="M24.99 17.84h-10.41l.5 4.03h9.91v-4.03z"/></g></svg>
              
            //- .o-col .c-article__vector
            
          //- /.o-row .c-article__header
          
          //- content  
          div(class="o-row c-article__content")
            
            div(class="o-col o-col-12")
              
              h4(class="c-heading c-heading--3") Frameworks
              ul(class="o-list o-list--indent")
                li(class="o-list__item") Bootstrap
            
              
              h4(class="c-heading c-heading--3") Metodologías
              ul(class="o-list o-list--indent")
                li(class="o-list__item") Nomenclatura BEM: Block - Element - Modifier
                li(class="o-list__item") IT: Arquitectura de triángulo invertido.
                  
              h4(class="c-heading c-heading--3") Pre-procesadores
              ul(class="o-list o-list--indent")
                li(class="o-list__item") Less
                li(class="o-list__item") Sass / Scss
        
        //- /.o-col .c-article
        
        div(class="o-col o-col-4")
          
          h3(class="c-heading c-heading--2") JavaScript
            h4(class="c-heading c-heading--3") Librerías
            ul(class="o-list o-list--indent")
              li(class="o-list__item") jQuery
                ul(class="o-list o-list--indent")
                  li(class="o-list__item") jQuery UI
                  li(class="o-list__item") jQuery Mobile
                  
              li(class="o-list__item") Node.js

          h3(class="c-heading c-heading--2") HTML
            h4(class="c-heading c-heading--3") Pre-procesadores
            ul(class="o-list o-list--indent")
              li(class="o-list__item") Pug (Jade) - Templates
              li(class="o-list__item") PHP


        
        //- /.o-col
  
