div(class="o-container c-main-content")
  
  //- /.o-row o-section
  section(class="o-section c-section o-row")
    div(class="o-col o-col-6 o-col--flex")
      div(class="c-loop")

        //- lower
        div(class="c-loop__container--lower")
          div(class="c-loop__circle c-loop__circle--1")
          div(class="c-loop__circle c-loop__circle--2")
          div(class="c-loop__circle c-loop__circle--3")
          div(class="c-loop__circle c-loop__circle--4")  
          div(class="c-loop__circle c-loop__circle--5")
          div(class="c-loop__circle c-loop__circle--6")
        
        //- upper
        div(class="c-loop__container--upper")        
          
          +circle(6,60)
          +circle(5,70)
          +circle(4,65)
          +circle(3,80)
          +circle(2,75)
          +circle(1,20)
        
        //- values
        div(class="c-loop__container--values" data-activate="ready")
          - var i = 0;
          while i < 100
            +circle-value(i)
            - var i = i+10;
            
  //- /.o-section
  
  section(class="o-section c-section o-row")
    div(class="o-col o-col-8")
      h1(class="c-heading c-heading--1") Experiencia y formación
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      h3(class="c-heading c-heading--3") Heading
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    div(class="o-col o-col-4")
      h2(class="c-heading c-heading--2") Heading
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
  
  // .o-section    
  
  section(class="o-section c-section o-row")
    div(class="o-col o-col-6")
      
      //- c-bar-graph
      div(class="c-bar-graph")
        ul(class="c-bar-graph__list")
            
          li(class="c-bar-graph__item")
            div(class="c-bar-graph__inner-bar c-bar-graph__inner-bar--70" data-activate="ready")
              span(class="c-bar-graph__bar-title") html5
            span(class="c-bar-graph__bar-value") 70%
            
          li(class="c-bar-graph__item")
            div(class="c-bar-graph__inner-bar c-bar-graph__inner-bar--75" data-activate="ready")
              span(class="c-bar-graph__bar-title") css
            span(class="c-bar-graph__bar-value") 75%
            
          li(class="c-bar-graph__item")
            div(class="c-bar-graph__inner-bar c-bar-graph__inner-bar--60" data-activate="ready")
              span(class="c-bar-graph__bar-title") JavaScript
            span(class="c-bar-graph__bar-value") 60%
              
          li(class="c-bar-graph__item")
            div(class="c-bar-graph__inner-bar c-bar-graph__inner-bar--70" data-activate="ready")
              span(class="c-bar-graph__bar-title") jQuery*
            span(class="c-bar-graph__bar-value") 70%
            
          li(class="c-bar-graph__item")
            div(class="c-bar-graph__inner-bar c-bar-graph__inner-bar--75" data-activate="ready")
              span(class="c-bar-graph__bar-title") php
            span(class="c-bar-graph__bar-value") 75%
            
          li(class="c-bar-graph__item")
            div(class="c-bar-graph__inner-bar c-bar-graph__inner-bar--60" data-activate="ready")
              span(class="c-bar-graph__bar-title") mySQL
            span(class="c-bar-graph__bar-value") 60%
            
      //- /.c-bar-graph
    //- /.o-col
    
    div(class="o-col o-col-6 o-col--flex o-col--justify-content-center")
      <canvas id="canvas-1" class="c-graphic-1" width="250" height="250"></canvas>
      
    //- /.o-col

  
