div(class="c-overlay")
  
  div(class="c-loading-animation")
    
    div(class="c-loading-animation__bar")
    div(class="c-loading-animation__bar")  
    div(class="c-loading-animation__bar")

//- /.c-overlay

//- Main content - Ajax container
div(class="o-container c-main-content")
  
  //- Initial content
  include ../_pages/desarrollo-front-end.pug
