nav(class="o-container c-sub-header")
  //- Primer elemento con display flex - mantiene la altura del conjunto.
  ul(class="o-row o-row--align-items-stretch c-sub-header__nav")
    
    li(class="o-col o-col-3 o-col--flex o-col--align-items-center c-sub-header__column")
      a(class="c-sub-header__item active" href="#" data-item="1")
        span(class="c-sub-header__number") 01
        span(class="c-sub-header__link-text") Desarrollo<br> front-end
    
    li(class="o-col o-col-3 o-col--flex o-col--align-items-center c-sub-header__column")
      a(class="c-sub-header__item" href="#" data-item="2")
        span(class="c-sub-header__number") 02
        span(class="c-sub-header__link-text") Diseño <br>gráfico y web
                
    li(class="o-col o-col-3 o-col--flex o-col--align-items-center c-sub-header__column")
      a(class="c-sub-header__item" href="#" data-item="3")
        span(class="c-sub-header__number") 03
        span(class="c-sub-header__link-text") Fotografía <br>artística
                      
    li(class="o-col o-col-3 o-col--flex o-col--align-items-center c-sub-header__column")
      a(class="c-sub-header__item" href="#" data-item="4")
        span(class="c-sub-header__number") 04
        span(class="c-sub-header__link-text") Experiencia
