nav(class="o-container c-sub-header")
  //- Primer elemento con display flex - mantiene la altura del conjunto.
  ul(class="o-row o-row--align-items-stretch c-sub-header__nav")
    
    li(class="o-col o-col--align-items-center c-sub-header__item" data-item="1")
      a(class="c-sub-header__link" href="#") Desarrollo <br>Front-end
    
    li(class="o-col o-col--align-items-center c-sub-header__item" data-item="2")
      a(class="c-sub-header__link" href="#") Diseño <br>gráfico
    
    li(class="o-col o-col--align-items-center c-sub-header__item" data-item="3")
      a(class="c-sub-header__link" href="#") Diseño <br>web
      
    li(class="o-col o-col--align-items-center c-sub-header__item" data-item="4")
      a(class="c-sub-header__link" href="#") Fotografía <br>artística
