// Object
// List

/* ---------------- [ Variables ] ---------------- */



/* ---------------- [ style ] ---------------- */

.o-list {
  list-style-type: '-  ';

  .o-list {
    list-style-type: '-  ';
    .o-list__item:first-child {
      padding-top: .5em;
    }
  }

  &--no-bullets {
    list-style-type: none;
  }

  &--indent {
    padding-left: $s-gutter;
  }
  &--vertical {
    .o-list__item {
      display: block;
    }
  }
}

.o-list__item {
  color: $s-color-grey-50;
  line-height: 1.5em;
  margin-bottom: .5em;
}
